<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/css/booglestyle.css">
    <title>Title</title>
</head>
<body>
    <!-- Container for all content -->
    <div class="container">
        <!-- Centered Google Logo Image -->
        <div class="google-logo">
        <img src="/static/img/google-logo.png" class="google-logo-img" alt="Google Logo">
        </div>

        <!-- Login Title text -->
        <div class="login-title">
            <p class="login-title-text">Login here!</p>
        </div>

        <!-- Login Window with form -->
        <div class="login-window">
          <!-- anonymous picture centered -->
            <div class="login-account">
                <img src="/static/img/anonymous.png" class="login-account-img" alt="Account Picture">
            </div>

        <form class="login-form">
            <input type="text" class="form-control" placeholder="username">
            <input type="password" class="form-control" placeholder="password">
            <button type="submit">Sign in</button>
        </form>
        </div>
        <!-- register link -->
        <div class="register-account-container">
        <a class="register-account" href="www.google.com">Register</a>
        </div>
</div>


</body>
</html>